In [31]:
import pandas as pd

In [32]:
df = pd.read_csv('universities.csv')
df

,Country,University,Founded,Type,Enrollment,Link
0,Albania,University of Tirana,1957,Public,"35,000",https://en.wikipedia.org/wiki/University_of_Ti...
1,Algeria,Constantine University,1978,Public,"85,000",https://en.wikipedia.org/wiki/List_of_universi...
2,Angola,Agostinho Neto University,1962,Public,"29,827",https://en.wikipedia.org/wiki/Agostinho_Neto_U...
3,Argentina,University of Buenos Aires,1821,Public,"311,175",https://en.wikipedia.org/wiki/University_of_Bu...
4,Australia,Monash University,1958,Public,"73,807",https://en.wikipedia.org/wiki/Monash_University
...,...,...,...,...,...,...
65,Turkey,Anadolu University,1958,Public,"1,969,733",https://en.wikipedia.org/wiki/Anadolu_University
66,United Kingdom,Open University,1969,Public,"253,075",https://en.wikipedia.org/wiki/Open_University
67,United States,Texas A&M University,1876,Public,"73,284",https://en.wikipedia.org/wiki/Texas_A%26M_Univ...
68,Uruguay,University of the Republic,1949,Public,"144,108",https://en.wikipedia.org/wiki/University_of_th...
69,Venezuela,Universidad Central de Venezuela,1721,Public,"41,059",https://en.wikipedia.org/wiki/Universidad_Cent...

In [33]:
df.head()

,Country,University,Founded,Type,Enrollment,Link
0,Albania,University of Tirana,1957,Public,"35,000",https://en.wikipedia.org/wiki/University_of_Ti...
1,Algeria,Constantine University,1978,Public,"85,000",https://en.wikipedia.org/wiki/List_of_universi...
2,Angola,Agostinho Neto University,1962,Public,"29,827",https://en.wikipedia.org/wiki/Agostinho_Neto_U...
3,Argentina,University of Buenos Aires,1821,Public,"311,175",https://en.wikipedia.org/wiki/University_of_Bu...
4,Australia,Monash University,1958,Public,"73,807",https://en.wikipedia.org/wiki/Monash_University

In [34]:
df['Founded'].values

array(['1957', '1978', '1962', '1821', '1958', '1365', '1992', '1921',
       '1425', '1949', '1982', '1970', '1888', '1827', '1960', '1867',
       '1940', '1669', '1928', '1538', '1950', '1632', '1640', '1939',
       '1998', '1837', '1676', '1937', '1911', '1985', '1984', '1982',
       '1834', '1956', '1303', '1889', '1970', '1999', '1579', '2000',
       '1956', '1551', '1959', '1636', '1883', '1943', '1996', '2002',
       '1551', '1904', '1816', '1288', '1991', '1992', '1976', '1905',
       '1919', '1873', '1972', '1972', '1666', '1833[34]', '1928', '1971',
       '1960', '1958', '1969', '1876', '1949', '1721'], dtype=object)

In [35]:
df['Founded'] = df['Founded'].str.extract("(\d{4})")

In [36]:
df['Founded'].values

array(['1957', '1978', '1962', '1821', '1958', '1365', '1992', '1921',
       '1425', '1949', '1982', '1970', '1888', '1827', '1960', '1867',
       '1940', '1669', '1928', '1538', '1950', '1632', '1640', '1939',
       '1998', '1837', '1676', '1937', '1911', '1985', '1984', '1982',
       '1834', '1956', '1303', '1889', '1970', '1999', '1579', '2000',
       '1956', '1551', '1959', '1636', '1883', '1943', '1996', '2002',
       '1551', '1904', '1816', '1288', '1991', '1992', '1976', '1905',
       '1919', '1873', '1972', '1972', '1666', '1833', '1928', '1971',
       '1960', '1958', '1969', '1876', '1949', '1721'], dtype=object)

In [37]:
df['Founded'] = df['Founded'].astype(int)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     70 non-null     object
 1   University  70 non-null     object
 2   Founded     70 non-null     int64
 3   Type        70 non-null     object
 4   Enrollment  70 non-null     object
 5   Link        70 non-null     object
dtypes: int64(1), object(5)
memory usage: 3.4+ KB

In [39]:
df[df['Link'].isnull()]

Empty DataFrame
Columns: [Country, University, Founded, Type, Enrollment, Link]
Index: []

In [40]:
df['Enrollment'].values

array(['35,000', '85,000', '29,827', '311,175', '73,807', '91,000',
       '2,097,182', '25,500', '55,484', '30,866', '32,000', '215,000',
       '18 911', '84,000', '80,000', '53,581', '42,750', '72,480',
       '43,600', '170,530', '170,000', '14,000', '36,500', '350,000[8]',
       '130,000', '104,000', '124,000', '32,000', '13,782', '7,140,000',
       '1,045,665 (total) as per 2019/2020[14]\n311,028 (active) as per 4 November 2020 [15]',
       '1,000,000', '32,900', '26,023', '112,564', '70,667', '84,000',
       '41,833', '23,606', '10,373', '100,000', '349,515', '604,437',
       '39,769', '33,050', '50,000', '39,000', '165,000', '37,032',
       '68,249', '44,400', '48,100', '311,928', '200,000', '177,234',
       '38,300', '48,821', '328,179', '173,758', '260,079', '30,646',
       '26,356', '31,758', '525,000', '60,000+', '1,969,733', '253,075',
       '73,284', '144,108', '41,059'], dtype=object)

In [41]:
df['Enrollment'] = df['Enrollment'].str.replace(' ', ',')

In [42]:
df['Enrollment'] = df['Enrollment'].str.extract('(\d{1,3}(?:,\d{1,3})*)')

In [43]:
df['Enrollment'].values

array(['35,000', '85,000', '29,827', '311,175', '73,807', '91,000',
       '2,097,182', '25,500', '55,484', '30,866', '32,000', '215,000',
       '18,911', '84,000', '80,000', '53,581', '42,750', '72,480',
       '43,600', '170,530', '170,000', '14,000', '36,500', '350,000',
       '130,000', '104,000', '124,000', '32,000', '13,782', '7,140,000',
       '1,045,665', '1,000,000', '32,900', '26,023', '112,564', '70,667',
       '84,000', '41,833', '23,606', '10,373', '100,000', '349,515',
       '604,437', '39,769', '33,050', '50,000', '39,000', '165,000',
       '37,032', '68,249', '44,400', '48,100', '311,928', '200,000',
       '177,234', '38,300', '48,821', '328,179', '173,758', '260,079',
       '30,646', '26,356', '31,758', '525,000', '60,000', '1,969,733',
       '253,075', '73,284', '144,108', '41,059'], dtype=object)

In [44]:
df['Enrollment'] = df['Enrollment'].str.replace(',', '')

In [45]:
df

,Country,University,Founded,Type,Enrollment,Link
0,Albania,University of Tirana,1957,Public,35000,https://en.wikipedia.org/wiki/University_of_Ti...
1,Algeria,Constantine University,1978,Public,85000,https://en.wikipedia.org/wiki/List_of_universi...
2,Angola,Agostinho Neto University,1962,Public,29827,https://en.wikipedia.org/wiki/Agostinho_Neto_U...
3,Argentina,University of Buenos Aires,1821,Public,311175,https://en.wikipedia.org/wiki/University_of_Bu...
4,Australia,Monash University,1958,Public,73807,https://en.wikipedia.org/wiki/Monash_University
...,...,...,...,...,...,...
65,Turkey,Anadolu University,1958,Public,1969733,https://en.wikipedia.org/wiki/Anadolu_University
66,United Kingdom,Open University,1969,Public,253075,https://en.wikipedia.org/wiki/Open_University
67,United States,Texas A&M University,1876,Public,73284,https://en.wikipedia.org/wiki/Texas_A%26M_Univ...
68,Uruguay,University of the Republic,1949,Public,144108,https://en.wikipedia.org/wiki/University_of_th...
69,Venezuela,Universidad Central de Venezuela,1721,Public,41059,https://en.wikipedia.org/wiki/Universidad_Cent...

In [46]:
df['Enrollment'] = df['Enrollment'].astype(int)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Country     70 non-null     object
 1   University  70 non-null     object
 2   Founded     70 non-null     int64
 3   Type        70 non-null     object
 4   Enrollment  70 non-null     int64
 5   Link        70 non-null     object
dtypes: int64(2), object(4)
memory usage: 3.4+ KB

In [50]:
df['Country'].values

array(['Albania', 'Algeria', 'Angola', 'Argentina', 'Australia',
       'Austria', 'Bangladesh', 'Belarus', 'Belgium',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Bulgaria',
       'Canada', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Denmark',
       'Dominican Republic', 'Egypt', 'Estonia', 'Finland', 'France',
       'Germany', 'Greece', 'Guatemala', 'Hong Kong', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Kenya', 'Kosovo', 'Lithuania', 'Macau', 'Malaysia', 'Mexico',
       'Nepal', 'Netherlands', 'New Zealand', 'North Macedonia', 'Norway',
       'Pakistan', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Romania',
       'Russia', 'Saudi Arabia', 'Singapore', 'Slovenia', 'South Africa',
       'South Korea', 'Spain', 'Sweden', 'Switzerland', 'Taiwan',
       'Thailand', 'Trinidad and Tobago', 'Turkey', 'United Kingdom',
       'United States', 'Uruguay', 'Venezuela'], dtype=object)

In [51]:
df.to_csv('universities_cleaned.csv', index=False)