In [ ]:
cities_uk = {
    "northern_ireland": {
        "armagh": {
            "year": 1994, "latitude": 54.3499, "longitude": -6.6546, "label": "Armagh",
            "connections": {"derry": 61, "newry": 19}
        },
        "belfast": {
            "year": 1888, "latitude": 54.596389, "longitude": -5.93, "label": "Belfast",
            "connections": {"derry": 71, "lisburn": 9}
        },
        "derry": {
            "year": 1604, "latitude": 54.9975, "longitude": -7.32, "label": "Derry",
            "connections": {"armagh": 61, "belfast": 71}
        },
        "lisburn": {
            "year": 2002, "latitude": 54.512, "longitude": -6.031, "label": "Lisburn",
            "connections": {"armagh": 32, "belfast": 9, "newry": 31}
        },
        "newry": {
            "year": 2002, "latitude": 54.176, "longitude": -6.349, "label": "Newry",
            "connections": {"armagh": 19, "lisburn": 31}
        },
    },
    "wales": {
        "bangor": {
            "year": 0, "latitude": 53.228, "longitude": -4.128, "label": "Bangor",
            "connections": {"cardiff": 185, "st_davids": 157, "chester": 60, "st_asaph": 34}
        },
        "cardiff": {
            "year": 1905, "latitude": 51.481667, "longitude": -3.179167, "label": "Cardiff",
            "connections": {"bangor": 185, "newport": 13, "swansea": 43}
        },
        "newport": {
            "year": 2002, "latitude": 51.583333, "longitude": -3, "label": "Newport",
            "connections": {"cardiff": 13, "gloucester": 53, "hereford": 45, "swansea": 50}
        },
        "st_asaph": {
            "year": 2012, "latitude": 53.258, "longitude": -3.442, "label": "St Asaph",
            "connections": {"bangor": 34, "chester": 30, "st_davids": 151, "swansea": 152}
        },
        "st_davids": {
            "year": 1994, "latitude": 51.882, "longitude": -5.269, "label": "St Davids",
            "connections": {"bangor": 157, "st_asaph": 151, "swansea": 73}
        },
        "swansea": {
            "year": 1969, "latitude": 51.616667, "longitude": -3.95, "label": "Swansea",
            "connections": {"cardiff": 43, "st_davids": 73, "newport": 50}
        },
    },
    "scotland": {
        "aberdeen": {
            "year": 1891, "latitude": 57.15, "longitude": -2.11, "label": "Aberdeen",
            "connections": {"dundee": 66, "inverness": 103}
        },
        "dundee": {
            "year": 1889, "latitude": 56.462, "longitude": -2.9707, "label": "Dundee",
            "connections": {"aberdeen": 66, "edinburgh": 57, "perth": 22}
        },
        "edinburgh": {
            "year": 1329, "latitude": 55.953333, "longitude": -3.189167, "label": "Edinburgh",
            "connections": {"carlisle": 100, "dundee": 57, "glasgow": 47, "perth": 44, "stirling": 37}
        },
        "glasgow": {
            "year": 1492, "latitude": 55.861111, "longitude": -4.25, "label": "Glasgow",
            "connections": {"edinburgh": 47, "stirling": 29, "carlisle": 96}
        },
        "inverness": {
            "year": 2001, "latitude": 57.4778, "longitude": -4.2247, "label": "Inverness",
            "connections": {"aberdeen": 103, "perth": 112}
        },
        "perth": {
            "year": 2012, "latitude": 56.395833, "longitude": -3.433333, "label": "Perth",
            "connections": {"dundee": 22, "edinburgh": 44, "inverness": 112, "stirling": 37}
        },
        "stirling": {
            "year": 2002, "latitude": 56.1166, "longitude": -3.9369, "label": "Stirling",
            "connections": {"edinburgh": 37, "glasgow": 29, "perth": 37}
        },
    },
    "england": {
        "bath": {
            "year": 1090, "latitude": 51.38, "longitude": -2.36, "label": "Bath",
            "connections": {"wells": 20, "bristol": 13, "london": 115, "salisbury": 44}
        },
        "birmingham": {
            "year": 1889, "latitude": 52.48, "longitude": -1.9025, "label": "Birmingham",
            "connections": {"coventry": 24, "stoke_on_trent": 45, "worcester": 41}
        },
        # (Add other cities similarly)
    }
}

In [ ]:
from typing import NamedTuple

class City(NamedTuple):
    name: str
    country: str
    year: int | None
    latitude: float
    longitude: float

    @classmethod
    def from_dict(cls, attrs):
        return cls(
            name=attrs["label"], 
            country=attrs['country'],
            year=int(attrs["year"]) or None,
            latitude=float(attrs["latitude"]),
            longitude=float(attrs["longitude"])
        )